## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://docs.google.com/forms/d/e/1FAIpQLSdDzwpeJl8YLPwZaW8pBZvtuXY9kIbbZLqxcXyzFaoraV5JEA/viewform ]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as

In [6]:
## 輸入資料
boys=np.array([164, 175, 183, 173,
               176, 159, 165, 165,
               169, 151, 156, 163,
               169, 144, 170, 177,
               165, 160, 164, 171])

girls=np.array([169, 170, 162, 154,
               183, 173, 169, 167,
               170, 185, 162, 175,
               168, 151, 181, 170,
               182, 156, 159, 160])
boys, girls

df = pd.DataFrame((boys, girls), 
                  index=['boy', 'girl'])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
boy,164,175,183,173,176,159,165,165,169,151,156,163,169,144,170,177,165,160,164,171
girl,169,170,162,154,183,173,169,167,170,185,162,175,168,151,181,170,182,156,159,160

In [26]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
print("[男生]")
print("平均數: ", np.mean(boys))
print("中位數: ", np.median(boys))
print("眾數: ", statistics.mode(boys))
print("全距: ", np.max(boys)-np.min(boys))
print("變異數: ", np.var(boys,ddof=1))
print("標準差: ", np.std(boys,ddof=1))
print("偏度: ", stats.skew(boys))
print("峰度: ", stats.kurtosis(boys))

print("[女生]")
print("平均數: ", np.mean(girls))
print("中位數: ", np.median(girls))
print("眾數: ", statistics.mode(girls))
print("全距: ", np.max(girls)-np.min(girls))
print("變異數: ", np.var(girls,ddof=1))
print("標準差: ", np.std(girls,ddof=1))
print("偏度: ", stats.skew(girls))
print("峰度: ", stats.kurtosis(girls))

[男生]
平均數:  165.95
中位數:  165.0
眾數:  165
全距:  39
變異數:  84.8921052631579
標準差:  9.213691185575838
偏度:  -0.4713212731737694
峰度:  0.19395882957876243
[女生]
平均數:  168.3
中位數:  169.0
眾數:  170
全距:  34
變異數:  95.37894736842104
標準差:  9.766214587465353
偏度:  0.059853211293650746
峰度:  -0.8203607083948947

In [28]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
D = np.mean(boys)-np.mean(girls)
if D > 0:
    print("男生")
else:
    print("女生")

女生

In [29]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
print("不一致，可能抽樣不平均，沒辦法表現出母體的實際情況")

不一致，可能抽樣不平均，沒辦法表現出母體的實際情況